$theme-black: #000;
$theme-red: #e53e30;
$theme-white: #fff;
$dark-background: #2d2d2d;
// font-weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;
// padding
$section:100px 0px;
// font-size
$comman_heading:38px;
$comman_text:18px;
$comman_view_height:7.8125vw;
// font-family{
$font-family-Poppins: "Poppins",
sans-serif;
$font-family-Roboto:"Roboto",
sans-serif;
// line-height
$line-height-40:40px;