@media (min-width: 992px) {
	.header li.mega_menu_item:hover .main_mega_wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.header .navbar-menu .mobile_menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
}

@media (max-width: 992px) {
	.header .mega_menu {
		position: relative;
		top: 0;
		padding: 10px 0px 0;
	}
	.header .navbar-menu .mobile_menu .menu_close_btn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.header .navbar-menu .mobile_menu .navbar-nav {
		width: 100%;
	}
	.header .navbar-menu .mobile_menu .navbar-nav li .nav-link {
		padding: 20px 0;
	}
	.header .navbar-menu .mobile_menu .navbar-nav li.mega_menu_item .nav-link::before {
		display: none;
	}
	.header .navbar-menu .mobile_menu .navbar-nav li.mega_menu_item:hover .nav-link::before {
		display: none;
	}
	.header li.mega_menu_item.show .main_mega_wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		top: 0;
	}
	.header .mega_menu {
		position: relative;
		top: 0;
		padding: 10px 0px 0;
	}
	.banner_section .banner_text h2 {
		font-size: 34px;
	}
	.clip_path_top_section .clip_path_background,
	.clip_path_bottom_section .clip_path_background {
		height: 100px;
	}
}

@media (max-width: 769px) {
	.header .mega_menu .mega_menu_box .mega_menu_link .menu_title {
		font-size: 14px;
	}
	.header .mega_menu .mega_menu_box .mega_menu_link .mega_menu_content {
		display: none;
	}
	.testimonial_slider {
		overflow: hidden;
	}
	.clip_path_top_section .clip_path_background,
	.clip_path_bottom_section .clip_path_background {
		height: 80px;
	}
}

@media (max-width: 576px) {
	.clip_path_top_section .clip_path_background,
	.clip_path_bottom_section .clip_path_background {
		height: 40px;
	}
	.banner_section {
		height: 100%;
	}
	.service_section {
		margin-top: 0;
	}
	.comman_title h2 {
		font-size: 28px;
	}
	.comman_title .comman_desc {
		font-size: 14px;
	}
	.service_box_wrap {
		margin-top: 35px;
	}
}