/* ----------------------------------- *
    (max-width:1199px)
*--------------------------------------*/

@media only screen and (max-width:1199px) {
    /* about us css*/
    .section {
        padding: 70px 0px;
    }
    .theme-span {
        font-size: 11.2vw;
    }
    .section1 {
        padding: 80px 0px;
    }
    .section1 .our_box_wrap {
        margin-top: 50px;
    }
    /* contact us css*/
    .contact_text span {
        font-size: 7.80vw;
    }
    /* blog css */
    .blog_text span {
        font-size: 6.8vw;
    }
}


/* ----------------------------------- *
    (max-width:991px)
*--------------------------------------*/

@media (min-width:992px) and (max-width:1199px) {
    .form_content_wrap {
        padding: 31px 34px;
    }
    .email_box h3 {
        font-size: 30px;
        line-height: 42px;
    }
    .email_box p {
        font-size: 18px;
        line-height: 32px;
    }
    .email_btn {
        /* margin-top: 20px; */
    }
}


/* ----------------------------------- *
    (max-width:991px)
*--------------------------------------*/

@media only screen and (max-width:991px) {
    /* about us css*/
    .bg_gray .banner_text {
        padding: 70px 0px 80px;
    }
    .theme-span {
        font-size: 10.8vw;
    }
    .section1 .our_box_wrap .our_title p {
        max-width: none;
    }
    .hello_section .hello_span {
        padding-bottom: 50px;
    }
    .footer_bottom {
        margin-bottom: 46px;
    }
    /* contact us css*/
    .contact_text {
        padding-top: 40PX;
    }
    .contact_text span {
        font-size: 10.66vw;
    }
    .contact_form {
        margin-bottom: 30px;
    }
    /* blog css */
    .blog_text span {
        font-size: 9.3vw;
    }
}


/* ----------------------------------- *
    (max-width:767px)
*--------------------------------------*/

@media only screen and (max-width:767px) {
    .section {
        padding: 60px 0px;
    }
    .section1 {
        padding: 70px 0px;
    }
    .theme-span {
        font-size: 10.4vw;
    }
    .navbar {
        padding: 30px 16px 0px;
    }
    .bg_gray .banner_text {
        padding: 60px 0px 70px;
    }
    .section .who_heading h3 {
        margin-bottom: 40px;
    }
    .section1 .our_box_wrap {
        margin-top: 40px;
    }
    .hello_section .hello_span {
        padding-bottom: 40px;
    }
    .footer_bottom {
        margin-bottom: 36px;
    }
    /* contact us css*/
    .medium_divider {
        min-height: 400px;
    }
    .contact_text span {
        font-size: 10.16vw;
    }
    .contact_text p {
        font-size: 26px;
    }
    .comman_anchor_robot {
        margin-top: 60px;
    }
    /* blog css */
    .blog_text {
        padding-top: 60px !important;
    }
    .blog_text span {
        font-size: 8.8vw;
    }
    .recent_post {
        padding: 30px;
        margin-top: -60px;
    }
    .card_bottom {
        padding-bottom: 0px;
    }
}


/* ----------------------------------- *
    (max-width:662px)
*--------------------------------------*/

@media only screen and (max-width:662px) {
    .theme-span {
        font-size: 12.0vw;
    }
    .contact_text span {
        font-size: 11.76vw;
    }
    .blog_text span {
        font-size: 10.2vw;
    }
}


/* ----------------------------------- *
    (max-width:575px)
*--------------------------------------*/

@media only screen and (max-width:575px) {
    /* about us css*/
    .section {
        padding: 50px 0px;
    }
    .section1 {
        padding: 60px 0px;
    }
    .theme-font {
        font-size: 28px;
    }
    .theme-span {
        font-size: 14.2vw;
    }
    .navbar {
        padding: 20px 16px 0px;
    }
    .bg_gray .banner_text {
        padding: 50px 0px 60px;
    }
    .bg_gray .banner_text h1 {
        font-size: 40px;
    }
    .section .who_heading h3 {
        margin-bottom: 30px;
        line-height: 36px;
    }
    .section .who_heading p {
        font-size: 18px;
        line-height: 32px;
    }
    .section .vision_title {
        line-height: 30px;
        font-size: 16px;
    }
    .section1 .our_box_wrap {
        margin-top: 30px;
    }
    .section1 .our_box_wrap h2 {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .section1 .comman_lead {
        font-size: 16px;
    }
    .hello_section .hello_span {
        padding-bottom: 30px;
    }
    .footer_bottom {
        margin-bottom: 24px;
    }
    .follow_bottom {
        margin-bottom: 40px;
    }
    .footer_bottom .widget p {
        margin-bottom: 8px;
        font-size: 16px;
    }
    .footer_bottom .widget h3 {
        font-size: 28px;
    }
    .footer_bottom .widget span {
        font-size: 16px;
    }
    .inquiry li {
        padding-bottom: 6px;
    }
    .latest_form h3 {
        font-size: 28px;
    }
    .tagline_form input {
        padding: 8px 10px;
        height: 42px;
    }
    .tagline_form input {
        padding: 8px 16px;
    }
    .tagline_form .form_btn {
        font-size: 16px;
        height: 42px;
        min-width: 122px;
    }
    .tagline_form .form-control::-webkit-input-placeholder {
        font-size: 16px;
    }
    .footer_img {
        padding-top: 30px;
    }
    /* contact us css */
    .medium_divider {
        min-height: 350px;
    }
    .contact_text {
        padding-top: 30PX;
    }
    .contact_text span {
        font-size: 13.16vw;
    }
    .contact_text p {
        font-size: 22px;
    }
    .contact_form {
        padding: 10px 10px 30px;
    }
    .contact_form h2 {
        font-size: 40px;
        margin-bottom: 26px
    }
    .comman_anchor_robot {
        margin-top: 55px;
    }
    .contact_form .form-group {
        margin-bottom: 20px;
    }
    .comman_anchor_robot {
        margin-top: 45px;
        font-size: 16px;
        padding: 6px 20px;
    }
    /* blog css */
    .blog_text span {
        font-size: 12vw;
    }
    .blog_text p {
        font-size: 16px;
    }
    .recent_post {
        padding: 20px;
        margin-top: -40px;
    }
    .recent_post h4 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .recent_post p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 22px;
    }
    .form_content_wrap {
        padding: 30px;
    }
    .email_box h3 {
        font-size: 30px;
        line-height: 44px;
    }
    .email_box p {
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 40px;
    }
    .email_update_input .email_input {
        height: 46px;
        margin-bottom: 20px;
    }
    .email_btn {
        margin-top: 40px;
        font-size: 16px;
        padding: 6px 30px;
    }
    .pagination {
        margin-top: 40px;
    }
    .pagination .page-link {
        font-size: 22px;
    }
    .pagination .page-link img {
        width: 30px;
    }
}


/* ----------------------------------- *
    (max-width:380px)
*--------------------------------------*/

@media only screen and (max-width:380px) {
    /* about us css */
    .section {
        padding: 30px 0px;
    }
    .section1 {
        padding: 40px 0px;
    }
    .theme-font {
        font-size: 24px;
    }
    .navbar {
        padding: 16px 16px 0px;
    }
    .bg_gray .banner_text {
        padding: 40px 0px 50px;
    }
    .bg_gray .banner_text h1 {
        font-size: 30px;
    }
    .bg_gray .banner_text p {
        font-size: 12px;
    }
    .section .who_heading h3 {
        line-height: 34px;
        margin-bottom: 20px;
    }
    .section .who_heading p {
        font-size: 14px;
        line-height: 26px;
    }
    .section .vision_part h3 {
        padding-left: 16px;
    }
    .section .vision_title {
        line-height: 26px;
        font-size: 14px;
    }
    .section1 .our_box_wrap {
        margin-top: 20px;
    }
    .section1 .comman_lead {
        font-size: 14px;
    }
    .section1 .our_box_wrap h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .footer_bottom {
        margin-bottom: 16px;
    }
    .follow_bottom {
        margin-bottom: 30px;
    }
    .footer_bottom .widget p {
        font-size: 14px;
    }
    .footer_bottom .widget h3 {
        font-size: 26px;
    }
    .footer_bottom .widget span {
        font-size: 14px;
    }
    .inquiry li {
        padding-bottom: 0px;
    }
    .inquiry li a {
        font-size: 16px;
    }
    .latest_form h3 {
        font-size: 24px
    }
    .latest_form p {
        font-size: 14px;
    }
    .tagline_form input {
        padding: 6px 10px;
        height: 40px;
    }
    .tagline_form p {
        line-height: 24px;
    }
    .tagline_form .form-control::-webkit-input-placeholder {
        font-size: 14px;
    }
    .tagline_form .form_btn {
        min-width: 110px;
        font-size: 14px;
        height: 40px;
    }
    /* contact us css */
    .medium_divider {
        min-height: 300px;
    }
    .contact_text {
        padding-top: 20PX;
    }
    .contact_text span {
        font-size: 13.16vw;
    }
    .contact_text p {
        font-size: 18px;
    }
    .contact_form {
        padding: 10px 10px 20px;
        margin-bottom: 16px;
    }
    .contact_form h2 {
        font-size: 30px;
        margin-bottom: 20px
    }
    .contact_form .btn_toggle:before {
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-top: 12px solid #c4c4c4;
        top: 21px;
        right: 18px;
    }
    .form-control::-webkit-input-placeholder {
        font-size: 15px;
    }
    .countries:first-child {
        font-size: 15px;
    }
    .comman_anchor_robot {
        margin-top: 35px;
        font-size: 14px;
    }
    /* blog css */
    .blog_text span {
        font-size: 12vw;
    }
    .blog_text p {
        font-size: 14px;
    }
    .recent_post {
        padding: 18px;
        margin-top: -14px;
    }
    .recent_post h4 {
        font-size: 17px;
        margin-bottom: 16px;
    }
    .recent_post p {
        font-size: 14px;
        margin-bottom: 18px;
    }
    .general_anchor {
        font-size: 14px;
    }
    .card_body {
        padding: 16px;
    }
    .card_body h5 {
        font-size: 16px;
        line-height: 30px;
    }
    .card_body p {
        font-size: 14px;
        margin: 14px 0px;
        line-height: 26px;
    }
    .form_content_wrap {
        padding: 20px;
    }
    .email_box h3 {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 16px;
    }
    .email_box p {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .email_update_input .email_input {
        height: 40px;
        margin-bottom: 16px;
    }
    .email_btn {
        margin-top: 30px;
        font-size: 14px;
        padding: 6px 20px;
    }
    .card_bottom {
        padding-bottom: 0px;
    }
    .pagination {
        margin-top: 30px;
    }
    .pagination .page-link {
        font-size: 18px;
    }
    .pagination .page-link img {
        width: 24px;
    }
}