* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  color: #000;
}

.section {
  padding: 100px 0px;
}

.section1 {
  padding: 125px 0px;
}

.mb_50 {
  margin-bottom: 50px;
}

@font-face {
  font-family: "Fontawesome";
  src: url(../fonts/fontawesome-webfont.woff);
}

a:hover {
  text-decoration: none;
}

select:focus,
input:focus,
button:focus,
textarea:focus,
a:focus,
.form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img,
canvas,
iframe,
video {
  max-width: 100%;
}

.theme-font {
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
}

.theme-span {
  font-size: 7.8125vw;
}

.theme-black {
  color: #000 !important;
}

.theme-black-background {
  background-color: #000;
}

.theme-red {
  color: #e53e30;
}

.theme-red-background {
  background-color: #e53e30 !important;
}

.theme-white {
  color: #fff !important;
}

.theme-white-background {
  background-color: #fff;
}

.dark-background {
  background-color: #2d2d2d;
}

.header_wrap.transparent_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.header_wrap.nav-fixed {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.comman_anchor {
  position: relative;
  background-color: #E53E30;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 100px;
  font-size: 18px;
  overflow: hidden;
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: 1px solid #e53e30;
  color: #fff;
  text-align: center;
}

.comman_anchor:hover {
  background-color: transparent;
  color: #e53e30;
}

.header_btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.banner_btn {
  font-size: 15px;
  padding: 11px 33px;
  border: 1px solid #E53E30;
  border-radius: 50px;
  color: #e53e30;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
}

.banner_btn:hover {
  background-color: #E53E30;
  color: #fff;
}

.comman_desc span {
  color: #e53e30;
}

.card_desc {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 30px;
}

.read_more {
  color: #fff;
  min-width: 40px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 14px;
}

.read_more:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

.who_section .comman_span1 {
  font-weight: 700;
  -webkit-text-stroke: 1px #000;
  color: transparent;
  text-transform: uppercase;
}

.service_wrap {
  min-height: 288px;
}

.service_card_wrap {
  padding: 30px 22px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 20px;
  margin-bottom: 20px;
}

.service_card_wrap .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 28px;
}

.service_card_wrap .card-header .card-title h5 {
  margin-left: 10px;
  font-size: 25px;
  color: #fff;
  margin-bottom: 0;
}

.service_card_wrap .card-header .card-title img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service_card_wrap .card-body {
  padding: 0;
}

.service_card_wrap .card-body p {
  font-weight: 300;
}

.service_card_wrap .card-body .technology_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes Bounce_animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes Bounce_animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.megamenu-li {
  position: static;
}

.megamenu-li .dropdown_wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.megamenu-li .dropdown_wrap .service-head:hover .header_content {
  color: #e53e30;
}

.megamenu-li .header_content {
  padding-left: 25px;
  overflow: hidden;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.navbar {
  padding: 0px 34px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 400;
  font-size: 16px;
  padding: 36px 12px;
  color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #e53e30;
}

.navbar-light .navbar-nav .nav-link-color {
  color: #fff;
}

.nav-fixed .navbar-light .navbar-nav li > a {
  color: #000;
}

.dropdown-menu {
  border: 0;
  margin: 0;
}

.company_name .border_right:before {
  border-left: 0px;
}

.header_lead {
  margin: 0;
  padding: 10px 0px;
  font-size: 14px;
  color: #C4C4C4;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.mega-menu {
  padding: 20px 0px 0px 46px;
}

.mega-menu li {
  padding: 8px;
}

.mega-menu li:hover {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.mega-menu li a {
  color: #606060;
  font-size: 15px;
  font-weight: 300;
  padding-left: 30px;
}

.mega-menu li a:hover {
  color: #1568A6 !important;
}

.mega-menu li a:after {
  content: '';
  position: absolute;
  border: 1px solid #1568A6;
  left: 76px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-top: 7px;
}

.mega-menu:hover {
  display: block;
  cursor: pointer;
}

.mb-50 {
  margin-bottom: 50px;
}

.border_right:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px solid #cdcdcd;
  height: 100%;
}

.border_right:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #cdcdcd;
  height: 100%;
}

.border_right1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 8px;
  border-right: 1px solid #cdcdcd;
  height: 100px;
}

.banner_section {
  position: relative;
  padding: 92px 0px 0px;
}

.banner_text h1 {
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 68px;
}

.banner_text h2 {
  display: inline-block;
  font-size: 44px;
  font-weight: 400;
}

.banner_text span {
  font-weight: 700;
}

.logos_img {
  margin-bottom: 20px;
}

.banner_section .right_wrap {
  position: absolute;
  right: 0%;
  top: 0%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 950px;
  max-height: 950px;
}

.scroll_down {
  padding-bottom: 34px;
}

.scroll_down a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll_down a span {
  width: 26px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.scroll_down a span::after {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scroll_down a label {
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
  font-weight: 300;
  margin-left: 15px;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.technology_logo {
  padding: 16px 0px;
}

.technology_logo img:hover {
  cursor: pointer;
  -webkit-animation: Bounce_animation 0.7s;
          animation: Bounce_animation 0.7s;
}

@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 14px);
            transform: translate(0, 14px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slider-wrap .slider {
  margin: 20px auto;
  text-align: center;
}

.slider-wrap .slider .quote_img {
  position: absolute;
  top: -28px;
  left: 30px;
  opacity: 0.5;
}

.slider-wrap .slider .testimonial_desc {
  position: relative;
  margin: 60px 0px 32px;
}

.slider-wrap .slider h3 {
  position: relative;
  font-size: 30px;
  max-width: 948px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 40px;
}

.slider-wrap .slider .parent-slide {
  padding: 15px;
}

.slider-wrap .author_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-wrap .author_wrap .author_img {
  margin-right: 15px;
}

.slider-wrap .author_wrap .author_name {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.slider-wrap .author_wrap .author_name h5 {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.slider-wrap .author_wrap .author_name p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

.slick_left_arrow {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 11;
  cursor: pointer;
}

.slick_right_arrow {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 11;
  cursor: pointer;
}

.blog_btn {
  padding: 8px 20px;
}

.blog_btn i {
  padding-left: 5px;
}

.about_wrap {
  padding-left: 65px;
  max-width: 507px;
}

.about_wrap p {
  margin-bottom: 8px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.about_wrap h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.about_wrap h5 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
}

.stories_heading {
  position: relative;
  max-width: 851px;
}

.nav-pills-custom .nav-link {
  position: relative;
  color: #000;
}

.nav-pills-custom .nav-link:hover {
  background-color: #e53e30;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.nav-pills-custom .nav-link.active {
  color: #fff;
  background-color: #e53e30;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.nav-pills-custom .nav-link p {
  font-size: 13px;
  margin: 0;
}

.tab_effect h3 {
  font-size: 50px;
  margin: 0;
}

.tab_effect p {
  margin: 0;
  color: #c4c4c4;
}

.stories_img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.slider_arrow {
  max-width: 42px;
  height: 42px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 50px;
  line-height: 42px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider_arrow:hover {
  background-color: #2d2d2d;
  color: #fff;
}

.client h2 {
  font-family: "Poppins", sans-serif;
}

.our_clients {
  padding: 20px 0px;
}

.client-logos {
  position: relative;
  border: 1px solid #555;
}

.client-logos .bg_img {
  position: relative;
  opacity: 0;
  background-color: #2d2d2d;
}

.client-logos .bg_img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(248.23deg, rgba(222, 227, 207, 0.1488) 0%, rgba(140, 200, 166, 0.3288) 19.51%, rgba(194, 139, 207, 0.5051) 39.54%, rgba(243, 146, 75, 0.677) 59.72%, rgba(101, 104, 211, 0.8541) 81.51%, rgba(0, 0, 0, 0) 100%);
  mix-blend-mode: overlay;
}

.client-logos .bg_img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.55);
}

.client-logos .bg_img:hover {
  cursor: pointer;
  opacity: 1;
}

.client-logos .table_logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  pointer-events: none;
  text-align: center;
}

.client_text {
  max-width: 1044px;
}

.contacts_form {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.contacts_form h3 {
  margin-bottom: 20px;
}

.contacts_form .form-control {
  color: #c4c4c4;
  border: none;
  border-radius: 0;
  padding: 3px;
  border-bottom: 1px solid #C4C4C4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.contacts_form .form-control option {
  color: #e53e30;
}

.contacts_form .form-control option:hover {
  background-color: yellow;
}

.contacts_form .form_text {
  font-size: 18px;
  font-weight: 300;
  color: #c4c4c4;
  text-align: left;
  padding: 0px 18px;
  margin-bottom: 16px;
}

[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #c4c4c4;
}

[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #e53e30;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #F87DA9;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.bg_gray {
  background-color: #F6F6F8;
}

.bg_gray .banner_text {
  padding: 86px 0px 126px;
}

.bg_gray .banner_text h1 {
  font-weight: 400;
  font-size: 50px;
}

.bg_gray .banner_text span {
  font-weight: 700;
}

.bg_gray .banner_text p {
  font-weight: 300;
  font-size: 18px;
}

.banner_img img {
  width: 100%;
}

.who_section .heading_s1 {
  display: block;
}

.who_section .comman_span {
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
}

.ios_span {
  text-transform: unset !important;
}

.who_heading h3 {
  margin-bottom: 40px;
}

.who_heading p {
  font-size: 25px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
}

.vision_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vision_part h3 {
  overflow: hidden;
  text-transform: capitalize;
  padding-left: 25px;
}

.vision_title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 14px;
}

.our_section .heading_s1 {
  display: block;
}

.our_section .comman_span {
  font-weight: 700;
  -webkit-text-stroke: 1px #000000;
  color: transparent;
  text-transform: uppercase;
}

.dots {
  color: #E53E30;
  -webkit-text-stroke: 0px;
}

.comman_lead {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.our_box_wrap {
  margin-top: 70px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.our_box_wrap i {
  font-size: 32px;
}

.our_box_wrap .fa-calendar-alt {
  background: linear-gradient(93.97deg, #008857 0%, #80D0C7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our_box_wrap .fa-users {
  background: linear-gradient(93.97deg, #1568A6 0%, #8FD2FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our_box_wrap .fa-clock {
  background: linear-gradient(93.97deg, #FDA085 0%, #EB4D75 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our_box_wrap .fa-file-code {
  background: linear-gradient(93.97deg, #FFAA00 0%, #FFE300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our_box_wrap h2 {
  font-size: 30px;
  margin: 16px 0px 16px;
}

.our_box_wrap .our_title h5 {
  font-size: 18px;
}

.our_box_wrap .our_title p {
  font-weight: 400;
  max-width: 210px;
  line-height: 25px;
  margin: 0;
  font-size: 15px;
}

.professional {
  position: relative;
  margin-bottom: 30px;
}

.professional img {
  width: 100%;
}

.professional .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), color-stop(83.85%, #FFFFFF));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 83.85%);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.professional .overlay h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.professional .overlay h6 {
  font-size: 11px;
}

.professional .overlay p {
  font-size: 12px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  padding-top: 16px;
}

.professional:hover .overlay {
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.professional .overlay_1 {
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 0px 12px;
}

.heading_s2 {
  font-size: 18px;
  display: block;
  color: #e53e30;
  -webkit-text-stroke: 0px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.hello_section .hello_span {
  font-weight: 700;
  -webkit-text-stroke: 1px #000000;
  color: transparent;
  text-transform: uppercase;
  padding-bottom: 62px;
  display: block;
}

.footer_bottom {
  margin-bottom: 86px;
}

.footer_bottom .widget h3 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.footer_bottom .widget p {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
}

.footer_bottom .widget span {
  font-size: 18px;
  font-weight: 300;
}

.inquiry li {
  padding-bottom: 10px;
}

.inquiry li a {
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.inquiry li a:hover {
  color: #e53e30;
}

.widget_links li {
  display: inline-block;
  font-size: 20px;
}

.widget_links li a {
  padding-right: 24px;
  color: #000;
}

.widget_links li a:hover {
  color: #e53e30;
}

.latest_form h3 {
  font-size: 30px;
  font-weight: 700;
}

.latest_form p {
  font-size: 18px;
  max-width: 452px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.latest_form span {
  color: #e53e30;
  font-weight: 400;
}

.tagline_form form {
  position: relative;
}

.tagline_form input {
  float: right;
  height: 45px;
  padding: 8px 20px;
  border: 0;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.tagline_form .form-control:focus {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;
}

.tagline_form .form-control::-webkit-input-placeholder {
  color: #ADBDCC;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tagline_form .form-control:-ms-input-placeholder {
  color: #ADBDCC;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tagline_form .form-control::-ms-input-placeholder {
  color: #ADBDCC;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tagline_form .form-control::placeholder {
  color: #ADBDCC;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tagline_form .form_btn {
  min-width: 136px;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  text-transform: uppercase;
  background-color: #e53e30;
  border: 0;
  font-weight: 700;
}

.tagline_form p {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.tagline_form span {
  color: #e53e30;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.medium_divider {
  min-height: 430px;
  height: 100%;
}

.contact_text {
  padding-top: 26px;
}

.contact_text span {
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  font-size: 4.16vw;
}

.contact_text p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  max-width: 540px;
  margin: 0 auto;
}

.footer_section {
  padding: 69px 0px 78px;
}

.contact_form {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  padding: 10px 30px 45px;
  margin-top: -160px;
  position: relative;
  z-index: 10;
}

.contact_form h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 48px;
}

.contact_form .form-group {
  margin-bottom: 25px;
}

.contact_form .form-control {
  border: none;
  color: #000;
  border-radius: 0;
  border-bottom: 1px solid #C4C4C4;
}

.contact_form .btn_toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 14px solid #c4c4c4;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  pointer-events: none;
  cursor: pointer;
}

.text_bottom {
  margin-bottom: 20px;
}

.comman_anchor_robot {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 100px;
}

.form-control::-webkit-input-placeholder {
  color: #c4c4c4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.countries:first-child {
  color: #c4c4c4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.blog_text p {
  max-width: 524px;
}

.recent_post {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  padding: 55px;
  position: relative;
  margin-top: -202px;
}

.recent_post h4 {
  margin-bottom: 30px;
  color: #6F7D8C;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.recent_post p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 40px;
  color: #6F7D8C;
  margin-bottom: 38px;
  font-size: 20px;
}

.general_anchor {
  text-transform: uppercase;
  color: #e53e30;
  font-weight: 500;
  font-size: 15px;
}

.gallery_item {
  overflow: hidden;
}

.gallery_item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 100%;
}

.gallery_item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card_body {
  padding: 18px;
}

.card_body h5 {
  font-weight: 600;
  line-height: 35px;
  margin: 0;
}

.card_body p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin: 18px 0px;
  line-height: 30px;
  font-weight: 300;
}

.box_shadow {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.form_content_wrap {
  padding: 55px 52px;
}

.email_box h3 {
  font-weight: 600;
  line-height: 60px;
  color: #6F7D8C;
  margin-bottom: 25px;
}

.email_box p {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 60px;
}

#styled-checkbox-1 {
  display: none;
}

.email_update_input .email_input {
  height: 60px;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  margin-bottom: 28px;
}

.email_update_input .email_input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.email_update_input .email_input:-ms-input-placeholder {
  color: #c4c4c4;
}

.email_update_input .email_input::-ms-input-placeholder {
  color: #c4c4c4;
}

.email_update_input .email_input::placeholder {
  color: #c4c4c4;
}

.email_update_input .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.email_update_input .styled-checkbox + label:before {
  content: "";
  margin-right: 18px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 1px solid #c4c4c4;
}

.email_update_input .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 18px;
  background: #000;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000;
          box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.email_update_input .terms_text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 38px;
}

.email_btn {
  border-radius: 5px;
  margin-top: 66px;
  text-transform: uppercase;
}

.border_bottom {
  border-bottom: 1px solid #d7d7d7;
}

.card_bottom {
  padding-bottom: 16px;
}

.pagination {
  margin-top: 50px;
}

.pagination .page-link {
  border: 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding: 0px 12px;
}

.pagination .page-link:hover {
  z-index: 2;
  color: #e53e30 !important;
  background-color: transparent;
}

.blog_line {
  display: block;
  height: 72px;
  width: 1px;
  margin: 0px 19px;
  background-color: #1d1d1d;
}

.navbar .header_text {
  font-size: 30px;
  font-weight: 400;
}

.business_section h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.business_section h3 {
  font-weight: 600;
}

.business_section h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin: 25px 0px;
}

.business_section p {
  font-size: 14px;
  text-transform: uppercase;
  color: #C8C8C8;
  font-weight: 400;
  margin-bottom: 25px;
}

.business_section .business_links {
  margin-bottom: 18px;
}

.business_section .business_links li {
  display: inline-block;
  padding-right: 26px;
}

.business_section .business_links li a i {
  color: #c8c8c8;
  font-size: 20px;
}

.business_section .business_links li a i:hover {
  color: #0A2540;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.blog_detail h3 {
  color: #0A2540;
  font-weight: 700;
  margin: 18px 0px 25px;
}

.blog_detail h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.name_links {
  margin-top: 60px;
}

.name_links > li {
  display: inline-block;
  margin-right: 4px;
}

.name_links > li > a {
  color: #0A2540;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 8px 18px;
  position: relative;
  z-index: 2;
  background-color: #F0F3F7;
  border-radius: 100px;
  display: block;
  font-weight: 300;
}

.social_icon {
  position: relative;
}

.social_icon ul {
  position: absolute;
  top: 0;
  right: 100%;
  left: auto;
  min-width: 11.5rem;
  z-index: -1;
}

.social_icon ul li {
  margin-right: 0px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(46px);
          transform: translateX(46px);
}

.social_icon ul li a {
  color: #F0F3F7;
  background-color: #0A2540;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
}

.social_icon:hover ul {
  z-index: 0;
}

.social_icon:hover ul li {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
}

.social_icon:hover ul li:nth-child(2n) {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.social_icon:hover ul li:nth-child(3n) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.social_icon:hover ul li:nth-child(4n) {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.like_title {
  margin-bottom: 36px;
}

.media_img {
  margin-right: 15px;
}

.media .media-body h5 {
  font-size: 25px;
  line-height: 37.5px;
}

.media .media-body p {
  font-size: 15px;
  padding-left: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #c4c4c4;
}

.media .bg_offgray {
  background: #F0F3F7;
  border-radius: 26px;
  padding: 11px 12px;
}

.media .chat {
  font-size: 15px;
  padding-right: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.comment h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 27px;
  color: #0A2540;
  text-transform: capitalize;
}

.comment .comment_lead {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  margin: 23px 0px 30px;
}

.comment_line {
  position: relative;
}

.comment_line::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -50px;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  width: 30px;
  height: 70px;
  border-bottom-left-radius: 10px;
}

.mobile_text {
  font-weight: 300;
  margin-bottom: 25px;
}

.technical_text {
  margin-bottom: 25px;
}

.mobile_heading {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.icon {
  margin-bottom: 21px;
}

.icon_box_content h5 {
  font-weight: 700;
}

.icon_box_content p {
  font-size: 15px;
  line-height: 25px;
  max-width: 312px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.app_section {
  margin-bottom: 70px;
}

.app_section span {
  margin-bottom: 20px;
}

.app_section h2 {
  font-family: "Poppins", sans-serif;
}

.app_section p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.benefits h3 {
  font-size: 35px;
  min-height: 104px;
  height: 100%;
  max-width: 516px;
  line-height: 52px;
  margin: 0;
}

.benefits p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

.education_section .education_bottom {
  margin-bottom: 25px;
}

.education_section h2 {
  font-size: 65px;
  font-weight: 600;
  margin: 0;
}

.education_section p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  max-width: 851px;
}

.education_section img {
  border-radius: 20px;
}

.small_divider {
  height: 60px;
}

.slider-nav {
  width: 1506px;
}

.sld-wrp .slider-for {
  position: relative;
  z-index: 10;
}

.slide-btn {
  padding: 34px 10px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  color: #000;
}

.slide-btn.slick-slide.slick-current.slick-active {
  color: #e53e30;
  position: relative;
}

.slide-btn.slick-slide.slick-current.slick-active:after {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  border-radius: 100px;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(229, 62, 48, 0.33);
}

.slick-prev.slick-arrow {
  display: none !important;
}

.slick-next.slick-arrow {
  display: none !important;
}

.slider_arrow.slick-arrow {
  position: absolute;
  top: -50px;
  right: 400px;
  border: 1px solid #000;
}

.slider_arrow.slide.slick-arrow {
  position: absolute;
  top: -50px;
  right: 320px;
  border: 1px solid #000;
}

.sticky_section {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  left: 0;
}

.new_point {
  font-family: "Roboto", sans-serif;
}

.new_point h4 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 30px;
}

.new_point p {
  font-size: 15px;
  font-weight: 300;
}

.engagement_section h2 {
  max-width: 608px;
  padding-bottom: 25px;
}

.engagement_model h5 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
}

.bg_offwhite {
  background-color: #F6F9FC;
  padding: 68px 0px 50px;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  margin-bottom: 18px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 21px;
  color: #425466;
  text-decoration: none;
  font-weight: 500;
  padding: 0px 16px 0px 0px;
  font-family: "Roboto", sans-serif;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  right: 0px;
  top: 6px;
  -webkit-transition: 1s;
  transition: 1s;
}

.faq .faq-list p {
  margin: 0;
  font-size: 13px;
  color: #425466;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.collapsed i.fa-caret-up {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.site_video {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.json_file {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: 0;
}

.ios_file {
  top: 100px;
  max-width: 950px;
  max-height: 950px;
}

.android_file {
  top: 150px;
  max-width: 800px;
  max-height: 800px;
}

.aso_file {
  top: 140px;
  max-width: 900px;
  width: 100%;
  max-height: 900px;
  height: 100%;
}

.cross_file {
  top: 0;
  max-width: 900px;
  max-height: 900px;
}

.digital_file {
  top: 0;
  max-width: 950px;
  max-height: 950px;
}

.flutter_file {
  top: 50px;
  max-width: 950px;
  max-height: 950px;
}

.mobile_file {
  top: 60px;
  max-width: 900px;
  max-height: 900px;
}

.node_file {
  top: 0px;
  max-width: 950px;
  max-height: 950px;
}

.seo_file {
  right: 100px;
  top: 150px;
  max-width: 600px;
  max-height: 600px;
}

.smm_file {
  top: 200px;
  max-width: 600px;
  max-height: 600px;
}

.ui_file {
  top: 50px;
  max-width: 950px;
  max-height: 950px;
}

.web_file {
  top: 100px;
  max-width: 800px;
  max-height: 800px;
}

.react_file {
  top: 100px;
  max-width: 800px;
  max-height: 800px;
}

.ppc_file {
  top: 100px;
  max-width: 800px;
  max-height: 800px;
}

.jquery_file {
  top: 100px;
  max-width: 800px;
  max-height: 800px;
}

.testing_file {
  top: 100px;
  max-width: 800px;
  max-height: 800px;
}

.ror_file {
  top: 100px;
  max-width: 800px;
  max-height: 800px;
}

.django_file {
  top: 0px;
  max-width: 850px;
  max-height: 850px;
}

.python_file {
  right: 2%;
  top: 100px;
  max-width: 650px;
  max-height: 650px;
}

.reactnative_file {
  top: 50px;
  max-width: 850px;
  max-height: 850px;
}

.frontend_file {
  top: 100px;
  max-width: 800px;
  max-height: 800px;
}

.network_file {
  right: 5%;
  top: 100px;
  max-width: 600px;
  max-height: 600px;
}

.taxi_file {
  top: 100px;
  max-width: 950px;
  max-height: 950px;
}

.food_file {
  top: 100px;
  max-width: 900px;
  max-height: 900px;
}

.healthcare_file {
  top: 0px;
  max-width: 950px;
  max-height: 950px;
}

.travel_file {
  right: 10%;
  top: 150px;
  max-width: 550px;
  max-height: 550px;
}

.industry_text h2 {
  font-size: 38px;
  line-height: 50px;
  font-weight: 400;
}

.industry_text span {
  font-weight: 700;
}

.industry_text p {
  font-size: 32px;
  font-weight: 300;
}

.comman_lead1 {
  font-weight: 300;
}

.banner_counter {
  margin-top: 70px;
}

.banner_counter h2 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
}

.banner_counter p {
  font-size: 28px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.slider_box {
  width: 178px;
  height: 178px;
  border-radius: 10px;
}

.slider_box .slider_icon {
  padding: 35px 20px 22px;
}

.slider_box .slider_text {
  font-size: 18px;
  line-height: 27px;
  padding: 0px 20px;
  font-weight: 300;
}

.slide.slider_nav_box.slick-slide {
  width: auto !important;
  margin: auto 10px !important;
}

.border_box {
  padding: 18px 40px;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

.border_box .card_box img {
  margin-bottom: 10px;
}

.border_box .card_box h6 {
  font-size: 18px;
  font-weight: 600;
}

.border_box .card_box p {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.border_box:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.dev_process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dev_process .work_box {
  padding: 28px 28px 16px;
  width: 178px;
  max-width: 100%;
  height: 178px;
  max-height: 100%;
  border-radius: 10px;
}

.dev_process .work_box img {
  margin-bottom: 10px;
}

.dev_process .work_box p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.dev_process .process_box {
  position: relative;
  z-index: 10;
}

.dev_process .process_box:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 31%;
  width: 100%;
  z-index: -5;
  border-bottom: 1px dotted #fff;
}

.dev_process .process_box:last-child:after {
  border-bottom: none !important;
}

.heading_content {
  margin-bottom: 25px;
}

.about_content {
  margin-bottom: 88px;
}

.about_content h4 {
  font-size: 22px;
  color: #8E8E8E;
  font-weight: 700;
}

.about_content a {
  color: #e53e30;
  font-weight: 500;
}

.stack_content {
  width: 160px;
  height: 160px;
  padding: 12px;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.stack_content h4 {
  font-weight: 500;
}

.stack_content:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.stack_content img {
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer_content {
  padding-bottom: 30px;
}

.footer_content h2 {
  font-size: 50px;
  color: #e53e30;
  font-weight: 700;
}

#background-video {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.solution_item {
  list-style: inside circle;
}

.solution_item li {
  margin-bottom: 10px;
  font-weight: 300;
}

.solution_item li:hover {
  color: #e53e30;
  cursor: pointer;
}

.feature_tabs .nav-pills .nav-link.active {
  color: #e53e30;
  background-color: transparent;
}

.feature_tabs .nav-pills .nav-link {
  color: #000;
}

.feature_tabs .nav-pills .nav-link:before {
  content: '';
  position: absolute;
  border: 1px solid #1568A6;
  left: 0px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-top: 7px;
}

.feature_tabs .nav-pills .nav-link:before .active {
  border: 1px solid #e53e30;
}

.feature_tabs .nav-pills .nav-link:hover {
  color: #e53e30;
}

.feature_tabs .nav-pills .nav-link:hover:before {
  border: 1px solid #e53e30;
}

.features_img {
  display: block;
  margin: 0 auto;
}

.dm-width {
  width: 500px;
  margin: 0 auto;
}

.iphone-mockup {
  position: relative;
  z-index: 5;
}
/*# sourceMappingURL=style.css.map */