* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  color: #000;
}

section {
  padding: 100px 0;
}

@font-face {
  font-family: "Fontawesome";
  src: url(../fonts/fontawesome-webfont.woff);
}

a:hover {
  text-decoration: none;
}

select:focus,
input:focus,
button:focus,
textarea:focus,
a:focus,
.form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img,
canvas,
iframe,
video {
  max-width: 100%;
}

.table_wrap {
  display: table;
}

.cell_wrap {
  display: table-cell;
}

.table_wrap,
.cell_wrap {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.theme-font {
  font-size: 38px;
}

.theme-span {
  font-size: 7.8125vw;
}

.theme-black {
  color: #000;
}

.theme-black-background {
  background-color: #000 !important;
}

.theme-red {
  color: #e53e30 !important;
}

.theme-red-background {
  background-color: #e53e30 !important;
}

.theme-white {
  color: #fff !important;
}

.theme-white-background {
  background-color: #fff !important;
}

.dark-background {
  background-color: #2d2d2d !important;
}

.stroke-white {
  color: transparent;
  -webkit-text-stroke: 1px #fff !important;
}

.stroke-red {
  color: transparent;
  -webkit-text-stroke: 1px #e53e30 !important;
}

.comman_anchor {
  background-color: #e53e30;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 100px;
  border: 1px solid #e53e30;
}

.comman_anchor span {
  color: #fff;
}

.comman_title h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  color: #e53e30;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.comman_title h4 {
  font-size: 1.6vw;
  font-weight: bold;
  color: #000000;
  margin: 25px 0;
}

.comman_title h3 {
  font-size: 2.6vw;
  font-weight: bold;
  line-height: 75px;
  color: #fff;
}

.comman_title h2 {
  font-size: 7.8vw;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 160px;
}

.comman_title .comman_desc {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 0.5px;
}

.comman_title .comman_desc span {
  font-weight: bold;
  color: #e53e30;
}

.banner_section {
  padding: 0px 0;
  position: relative;
}

.banner_section .banner_text label {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.banner_section .banner_text h2 {
  font-size: 70px;
  line-height: 105px;
  color: #000;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 20px;
}

.banner_section .banner_text h2 span {
  font-weight: bold;
  margin-bottom: 0;
}

.banner_section .right_wrap {
  position: absolute;
  right: 5%;
  top: 0%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  max-height: 900px;
}

.banner_section .scroll_down a {
  position: absolute;
  margin-left: 15px;
  bottom: -25%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner_section .scroll_down a span {
  width: 26px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.banner_section .scroll_down a span::after {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner_section .scroll_down a label {
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
  font-weight: 300;
  margin-left: 15px;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.service_card_wrap {
  padding: 28px 33px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 20px;
  margin-bottom: 30px;
}

.service_card_wrap .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 30px;
}

.service_card_wrap .card-header .card-title h5 {
  margin-left: 10px;
  font-size: 25px;
  color: #fff;
  margin-bottom: 0;
}

.service_card_wrap .card-header .card-title img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service_card_wrap .card-body {
  padding: 0;
}

.service_card_wrap .card-body .card_desc {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.service_card_wrap .card-body .technology_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.service_card_wrap .card-body .technology_wrap li img {
  width: 70%;
  height: 70%;
}

.technology_section .technology_pills {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.technology_section .technology_pills li a {
  color: #000;
  font-weight: 600;
  font-size: 25px;
  padding: 10px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technology_section .technology_pills li a.active {
  color: #e53e30;
  background-color: transparent;
}

.technology_section .technology_pills li a.active::after {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  border-radius: 100px;
  right: -10px;
  background-color: rgba(229, 62, 48, 0.33);
}

.technology_section .technology_image_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology_section .technology_image_wrap li {
  padding: 20px;
}

.technology_section .technology_image_wrap li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.service_box_wrap {
  margin-top: 55px;
  font-family: 'Roboto', sans-serif;
}

.service_box_wrap h2 {
  color: #fff;
  margin-bottom: 24px;
}

.service_box_wrap .service_title h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

.service_box_wrap .service_title p {
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 5px;
  font-weight: 300;
  height: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  letter-spacing: 0.5px;
}

.navbar {
  padding: 40px 38px 0px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 400;
  font-size: 15px;
  padding: 0px 12px;
  color: #000;
}

.bg_gray {
  background-color: #F6F6F8;
}

.bg_gray .banner_text {
  padding: 86px 0px 126px;
}

.bg_gray .banner_text h1 {
  font-weight: 400;
  font-size: 50px;
}

.bg_gray .banner_text span {
  font-weight: 700;
}

.bg_gray .banner_text p {
  font-weight: 300;
  font-size: 18px;
}

.banner_img img {
  width: 100%;
}

.bg_black {
  background-color: #2d2d2d;
}

.section {
  padding: 100px 0px;
}

.section .who_section .heading_s1 {
  font-weight: 700;
  display: block;
  text-transform: capitalize;
}

.section .who_section .comman_span {
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
}

.section .who_heading h3 {
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
}

.section .who_heading p {
  font-size: 25px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
}

.section .vision_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .vision_part h3 {
  overflow: hidden;
  font-weight: 700;
  text-transform: capitalize;
  padding-left: 25px;
}

.section .vision_title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 14px;
}

.section1 {
  padding: 125px 0px;
}

.section1 .our_section .heading_s1 {
  font-weight: 700;
  display: block;
  text-transform: capitalize;
  line-height: 50px;
}

.section1 .our_section .comman_span {
  font-weight: 700;
  -webkit-text-stroke: 1px #000000;
  color: transparent;
  text-transform: uppercase;
}

.section1 .our_section .dots {
  color: #E53E30;
  -webkit-text-stroke: 0px;
}

.section1 .comman_lead {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.section1 .our_box_wrap {
  margin-top: 70px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.section1 .our_box_wrap h2 {
  font-size: 30px;
  margin-bottom: 24px;
}

.section1 .our_box_wrap .our_title h5 {
  font-size: 18px;
}

.section1 .our_box_wrap .our_title p {
  font-weight: 400;
  max-width: 210px;
  line-height: 25px;
  margin: 0;
  font-size: 15px;
}

.section {
  padding: 100px 0px;
}

.section .professional {
  position: relative;
  margin-bottom: 30px;
}

.section .professional img {
  width: 100%;
}

.section .professional .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), color-stop(83.85%, #FFFFFF));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 83.85%);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.section .professional .overlay h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.section .professional .overlay h6 {
  font-size: 11px;
}

.section .professional .overlay p {
  font-size: 12px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  padding-top: 16px;
}

.section .professional:hover .overlay {
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.section .professional .overlay_1 {
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 0px 12px;
}

.hello_section .heading_s2 {
  font-size: 18px;
  display: block;
  color: #e53e30;
  -webkit-text-stroke: 0px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.hello_section .hello_span {
  font-weight: 700;
  -webkit-text-stroke: 1px #000000;
  color: transparent;
  text-transform: uppercase;
  padding-bottom: 62px;
  display: block;
}

.footer_bottom {
  margin-bottom: 86px;
}

.footer_bottom .widget h3 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.footer_bottom .widget p {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
}

.footer_bottom .widget span {
  font-size: 18px;
  font-weight: 300;
}

.inquiry li {
  padding-bottom: 10px;
}

.inquiry li a {
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000;
}

.follow a img {
  padding-right: 24px;
}

.latest_form h3 {
  font-size: 30px;
  font-weight: 700;
}

.latest_form p {
  font-size: 18px;
  max-width: 452px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.latest_form span {
  color: #e53e30;
  font-weight: 400;
}

.tagline_form form {
  position: relative;
}

.tagline_form input {
  float: right;
  height: 45px;
  padding: 8px 20px;
  border: 0;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.tagline_form .form-control:focus {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1) !important;
}

.tagline_form .form-control::-webkit-input-placeholder {
  color: #ADBDCC;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tagline_form .form-control:-ms-input-placeholder {
  color: #ADBDCC;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tagline_form .form-control::-ms-input-placeholder {
  color: #ADBDCC;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tagline_form .form-control::placeholder {
  color: #ADBDCC;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tagline_form .form_btn {
  min-width: 136px;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  text-transform: uppercase;
  background-color: #e53e30;
  border: 0;
}

.tagline_form p {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.tagline_form span {
  color: #e53e30;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.footer_img {
  padding-top: 47px;
}

.footer_img ul li {
  display: inline-block;
}

.footer_img ul li .certifiact_img {
  margin-left: 20px;
  margin-right: 20px;
}

.contact_header .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.medium_divider {
  min-height: 430px;
  height: 100%;
}

.contact_text {
  padding-top: 66px;
}

.contact_text span {
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  font-size: 4.16vw;
}

.contact_text p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  max-width: 540px;
  margin: 0 auto;
}

.footer_section {
  padding: 69px 0px 78px;
}

.contact_form {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  padding: 10px 30px 45px;
  margin-top: -160px;
  position: relative;
  z-index: 10;
}

.contact_form h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 48px;
}

.contact_form .form-group {
  margin-bottom: 25px;
}

.contact_form .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #C4C4C4;
}

.contact_form .btn_toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 14px solid #c4c4c4;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  pointer-events: none;
  cursor: pointer;
}

.text_bottom {
  margin-bottom: 20px;
}

.comman_anchor_robot {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 100px;
}

.form-control::-webkit-input-placeholder {
  color: #c4c4c4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.countries:first-child {
  color: #c4c4c4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.navbar {
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.header_img {
  display: inline-block;
  margin-right: 30px;
}

.header_img:after {
  content: "";
  position: absolute;
  left: 115px;
  top: 27px;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  height: 72px;
}

.blog_text p {
  max-width: 524px;
}

.recent_post {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  padding: 55px;
  position: relative;
  margin-top: -202px;
}

.recent_post h4 {
  margin-bottom: 30px;
  color: #6F7D8C;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.recent_post p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 40px;
  color: #6F7D8C;
  margin-bottom: 38px;
  font-size: 20px;
}

.general_anchor {
  text-transform: uppercase;
  color: #e53e30;
  font-weight: 500;
  font-size: 15px;
}

.gallery_item {
  overflow: hidden;
}

.gallery_item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 100%;
}

.gallery_item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card_body {
  padding: 18px;
}

.card_body h5 {
  color: #6F7D8C;
  font-weight: 600;
  line-height: 35px;
  margin: 0;
}

.card_body p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #6F7D8C;
  margin: 18px 0px;
  line-height: 30px;
  font-weight: 300;
}

.box_shadow {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.form_content_wrap {
  padding: 60px 52px;
}

.email_box h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  color: #6F7D8C;
  margin-bottom: 25px;
}

.email_box p {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 60px;
}

#styled-checkbox-1 {
  display: none;
}

.email_update_input .email_input {
  height: 60px;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  margin-bottom: 28px;
}

.email_update_input .email_input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.email_update_input .email_input:-ms-input-placeholder {
  color: #c4c4c4;
}

.email_update_input .email_input::-ms-input-placeholder {
  color: #c4c4c4;
}

.email_update_input .email_input::placeholder {
  color: #c4c4c4;
}

.email_update_input .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.email_update_input .styled-checkbox + label:before {
  content: "";
  margin-right: 18px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 1px solid #c4c4c4;
}

.email_update_input .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 18px;
  background: #000;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000;
          box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.email_update_input .terms_text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 38px;
}

.email_btn {
  border-radius: 5px;
  margin-top: 66px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.border_bottom {
  border-bottom: 1px solid #d7d7d7;
}

.card_bottom {
  padding-bottom: 16px;
}

.pagination {
  margin-top: 50px;
}

.pagination .page-link {
  border: 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding: 0px 12px;
}

.pagination .page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  border-color: #dee2e6;
  color: #E53E30;
  background-color: transparent;
}

.header_img:after {
  border-left: 1px solid #1d1d1d;
}

.business_section h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.business_section h3 {
  font-weight: 600;
  line-height: 50px;
}

.business_section h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin: 25px 0px;
}

.business_section p {
  font-size: 14px;
  text-transform: uppercase;
  color: #C8C8C8;
  font-weight: 400;
  margin-bottom: 25px;
}

.business_section .business_links {
  margin-bottom: 18px;
}

.business_section .business_links li {
  display: inline-block;
  padding-right: 26px;
}

.business_section .business_links li a i {
  color: #c8c8c8;
  font-size: 20px;
}

.business_section .business_links li a i:hover {
  color: #0A2540;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.blog_detail h3 {
  color: #0A2540;
  font-weight: 700;
  margin: 18px 0px 25px;
}

.blog_detail h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.name_links {
  margin-top: 60px;
}

.name_links li {
  display: inline-block;
  background-color: #F0F3F7;
  padding: 8px 18px;
  border-radius: 100px;
  margin-right: 4px;
}

.name_links li a {
  color: #0A2540;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.social_icon {
  position: relative;
}

.social_icon ul {
  position: absolute;
  top: 0;
  left: -165px;
}

.social_icon ul li {
  background-color: transparent;
  padding: 8px 10px;
  margin-right: 0px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(46px);
          transform: translateX(46px);
}

.social_icon:hover li {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
}

.social_icon:hover li:nth-child(2n) {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.social_icon:hover li:nth-child(3n) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.social_icon:hover li:nth-child(4n) {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.like_title {
  margin-bottom: 36px;
}

.media .media_img {
  margin-right: 15px;
}

.media .media-body h5 {
  font-size: 25px;
  line-height: 37.5px;
}

.media .media-body p {
  font-size: 15px;
  padding-left: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #c4c4c4;
}

.media .bg_offgray {
  background: #F0F3F7;
  border-radius: 26px;
  padding: 11px 12px;
}

.media .chat {
  font-size: 15px;
  padding-right: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.comment h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 27px;
  color: #0A2540;
  text-transform: capitalize;
}

.comment .comment_lead {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  margin: 23px 0px 30px;
}
/*# sourceMappingURL=style.css.map */